.mobile-btn{
  width: 55px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;

  &__span{
    width: 100%;
    height: 3px;
    background: $primary-color ;
    display: inline-block;
    position: relative;
    &::before, &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $primary-color ;
      transition: .6s;
    }
    &::before{
      top: -10px;
    }
    &::after{
      top: 10px;
    }

  }

}
