
.header{
  position: absolute;
  height: 100px;
  width: 100%;
  &__nav{
    @include baseFont;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: $primary-color;
  }
  &__logo{
    display: flex;
    column-gap: 10px;
    cursor: pointer;
  }
  &__title{
    @include font(18px, 22px);
  }
  &__menu{
    @include font(14px, 17px);
    display: flex;
    list-style-type: none;
    column-gap: 30px;
  }
  &__link{
    cursor: pointer;
  }
  &__form{
    display: flex;
    align-items: center;
  }
  &__langSelect{
    width: 50px;
    height: 30px;
    background-color: transparent;
    color: $primary-color;
    border: none;
    cursor: pointer;
    outline: none;
    margin-right: 20px;

  }
  &__lang{
    background-color: #e15244;
  }


  &__button{
    @include font(14px, 17px);
    height: 40px;
    padding: 0 28px;
    border: 1px solid $primary-color;
    border-radius: 6px;
    background-color: transparent;
    text-transform: uppercase;
    color: $primary-color;
    margin-left: 20px;
    transition: .6s;
    &:hover{
      cursor: pointer;
      background-color: $primary-color;
      color: #ED4C5C;
      transition: .6s;
    }
  }
}



